---
import Base from '../layouts/base.astro'
import CorpoPost from '../layouts/corpoPost.astro'
export async function getStaticPaths() {
  const posts = await Astro.glob('../posts/*.md')
  return posts.map((post) => {
    return {
      params: { slug: post.frontmatter.slug },
      props: { post },
    }
  })
}
const { frontmatter, Content } = Astro.props.post
---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
    rel="stylesheet"
  />
</head>
<body class="font-body text-lg bg-branco">
  <Base title={frontmatter.title}>
    <CorpoPost title={frontmatter.title}>
      <Content />
    </CorpoPost>
  </Base>
</body>
