---
import '../styles/base.css'
import Base from '../layouts/base.astro'
import CorpoPost from '../layouts/corpoPost.astro'
export async function getStaticPaths() {
  const posts = await Astro.glob('../posts/*.md')
  return posts.map((post) => {
    return {
      params: { slug: post.frontmatter.slug },
      props: { post },
    }
  })
}
const { frontmatter, Content } = Astro.props.post
---

<head>
  <meta charset="utf-8" />
</head>

<body>
  <Base title={frontmatter.title}>
    <CorpoPost frontmatter={frontmatter}>
      <div class="prose prose-hr:border-gray-400 prose-p:text-lg max-w-none">
        <Content />
      </div>
    </CorpoPost>
  </Base>
</body>
