---
import '../styles/base.css'
import Base from '../layouts/base.astro'

const sobre = await Astro.glob('./sobre.md')

const { Content } = sobre[0]
---

<head>
  <meta charset="utf-8" />
</head>

<body>
  <Base title="Sobre">
    <div
      class="bg-terciaria rounded-lg flex flex-col p-4 mx-5 my-6 md:px-12 md:mx-64"
    >
      <div
        class="prose prose-hr:border-gray-400 prose-p:text-lg prose-a:decoration-transparent max-w-none"
      >
        <Content />
      </div>
    </div>
  </Base>
</body>
