---
const { frontmatter } = Astro.props
---

<div
  class="bg-terciaria rounded-lg flex flex-col p-4 mx-5 my-6 md:px-12 md:mx-64"
>
  <a class="btn-voltar" href="/">Voltar</a>
  <div class="py-6">
    <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
    <p class="text-sm font-light">
      Publicado por {frontmatter.autor} em {
        new Date(frontmatter.data).toLocaleDateString()
      }.
    </p>
  </div>
  <slot />
  <a class="btn-voltar" href="/">Voltar</a>
</div>
